<section>
    <div class="content-add-category">
        <div class="header-category">
            <div class="wrap">
                <h4>Categorias</h4>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar categoria">
                <i class="icon-search"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <form [formGroup]="addCategoriasForm" (ngSubmit)="addUpdadeCateorias()">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" class="form-control" id="nome" formControlName="nome">
                    </div>
                      <button type="submit" class="btn btn-add-category">
                          {{ !this.isAddMode ? 'Atualizar' : 'Adicionar nova categoria'}}
                        </button>
                  </form>
            </div>
            <div class="col-lg-7">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of (categorias$ | async) | filter:term">
                                <td><a href="#">{{c.nome}}</a></td>
                                <td>
                                    <i class="icon-edit" tooltip="Editar" (click)="setDataCategoria(c)"></i>
                                    <i class="icon-delete" tooltip="Excluir" (click)="openModalConfirmDelete(c)"></i>
                                </td>
                            </tr>
                            <tr *ngIf="(categorias$ | async)?.length === 0">
                                <td class="empty-user" colspan="6">
                                  <p>Nenhuma categoria cadastrada</p>
                                </td>
                              </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>