<div class="container-login100">
    <div class="wrap-login100">

        <form [formGroup]="recoverForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
            <div class="logo-top">
                <img src="assets/img/logoipsum-invert.svg" alt="logo">
            </div>

            <div class="instructions">
                <p>Digite o seu endereço de e-mail. 
                    Você receberá um e-mail com instruções para redefinição de senha.</p>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input100" type="email" name="email" formControlName="email" placeholder="E-mail" required>
                <i class='bx bx-envelope'></i>
            </div>

            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn">
                    Obter nova senha
                </button>

                <span *ngIf="msgErro" class="msg-erro">{{msgErro}}</span>
            </div>

            <div class="flex-sb-m w-full mt-3">
                <div class="contact100-form-recover">
                    <a routerLink="/private/login">
                        <i class='bx bx-arrow-back'></i> Login
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
