.section-blog{
    margin: 60px 0;
    .col-lg-8{
        border-right: 1px solid #eeeeee;
    }
    .block-post{
        margin-bottom: 60px;
        img{
            width: 100%;
            border-radius: 10px;
        }
        .entry-header{
            a{
                text-decoration: none;
                position: relative;
                display: block;
                h3{
                    color: var(--bg-black-color);
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 10px;
                    &:hover{
                        color: var(--bg-secondary-color);
                    }
                }
            }
            
            .entry-date{
                margin-bottom: 25px;
                position: relative;
                i{
                    margin-right: 5px;
                    color: var(--bg-primary-color-hover);
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }
                span{
                    font-family: "Rubik", sans-serif; 
                    color: #b0b1b8;
                    font-size: 15px;
                }
            }
        }
        .entry-footer{
            position: relative;
            p{
                font-family: 'Rubik', sans-serif;
                color: #6c6c74;
                font-size: 15px;
            }
        }
    }
}

/*======================= RESPONSIVE =======================*/
@media(max-width: 767px){
    .section-blog{
        margin-top: 30px;
        .block-post{
            img{
                margin-bottom: 10px;
            }
            .entry-footer{
                p{
                    text-align: justify;
                    font-size: 16px;
                }
            } 
        }
    }  
}