.close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
h5{
    color: #575757;
}
p{
    margin-bottom: 20px;
    color: #575757;
}
.btn-not-confirm{
    border: 1px solid #dddddd;
    background-color: var(--bg-white-color);
    box-shadow: none;
    outline: none;
    margin-right: 20px;
    color: #777;
    width: 65px;
    &:hover{
        background-color: #f8f8f8;
    }
}
.btn-confirm{
    background-color: var(--bg-primary-color);
    box-shadow: none;
    outline: none;
    width: 65px;
    color: var(--bg-white-color);
    &:hover{
        background-color: var(--bg-primary-color-hover);
    }
}