:root {
    --bg-primary-color: #31af36;
    --bg-primary-color-light: #e7fce8;
    --bg-primary-color-hover: #228625;

    --bg-secondary-color: #0f3232;
    --bg-secondary-color-dark: #071d1d;

    --bg-white-color: #ffffff;
    --bg-grey-white-color-7: #f7f7f7;
    --bg-grey-white-color-5: #f5f5f5;

    --bg-black-color: #313131;
}

